<h2>Search Country by name</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="search()" autocomplete="off">
            <input type="text"
                   name="term"
                   [(ngModel)]="term"
                   class="form-control"
                   placeholder="Search country by name">
        </form>
    </div>
</div>

<div class="alert alert-danger" *ngIf="showError">{{error}}</div>

<div *ngIf="countries.length > 0" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>#</th>
                <th>Flag</th>
                <th>Name</th>
                <th>People</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let country of countries; let i = index">
                    <td>{{i + 1}}</td>
                    <td>
                        <img [src]="country.flags.png" class="small-flag">
                    </td>
                    <td>{{country.name.common}}</td>
                    <td>{{country.population | number}}</td>
                    <td>
                        <a [routerLink]="['/country', country.cca2]">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>